ul {
  list-style-type: none;
}

form.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.form-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.publish-btn {
  margin-top: 16px;
  margin-bottom: 8px;
}

.post {
  width: 85vw;
  border-radius: 4px;
}

@media (min-width: 600px) {
  .post {
    width: 60vw;
  }
}

@media (min-width: 900px) {
  .post {
    width: 40vw;
  }
}

.signout-btn {
  margin-inline-start: 8px;
  height: 32px;
}
